{% extends "base.html" %}
{% load static %}


{% block head_title %}
Sign In
{% endblock head_title %}

{% block content %}

<!------------------------This is still a work in progress! -->
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Sign In</h1>
      <p>Hello! Students, teachers and administrators at West Calsbad High School can sign in to take part in the
        project. If you have not yet created an account, please do so now.
        <a class="link" href="{{ signup_url }}">sign up</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}

        <input type="hidden" name="{{ profile_url }}" value="{{ 'profile/'}}">
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        <button class="btn btn-signup" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</div>

{% endblock content%}
