body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.img {
    max-width:100%;
    height: auto;
}

/* Fonts */
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.special-category {
    color: red;
    font-family: "Graduate", serif;
    font-weight: 800;
}

/* Homepage */
.home-heading {
    background-color: rgb(0, 0, 0);
    color: white;
}

.short-line {
    width: 30px;
}

/*-- Volunteer page --*/
.beneficiary-container {
    background-color: rgb(244, 195, 218);
}

.card-text {
    font-family: open-sans, sans-serif !important;
}

.card-text > p {
    font-family: open-sans, sans-serif !important;
}

article > p {
    font-family: open-sans, sans-serif !important;
}

.b-card {
    border: none;
}

/*-- About page --*/
.about-container {
    background-color: rgb(244, 195, 218);
}

.about-title {
    font-size: 40px;
}

.message-form1{
    background-color:black;
    color: white;
}

/* -- Messages -- */
.unpublished-msg {
    color: rgb(199, 23, 23);
    font-style: italic;
}

.message {
    text-align: center;
}


/*-- Student Dashboard --*/
.dashboard {
    background-color: black;
    color: white;
}

.stats {
    font-size: 18px;
}

.no-tasks-message {
    padding-top: 20px;
}

.empty-box {
    border: 2px dashed red;
    width: 100%;
    height: auto;
}

.legend {
    font-size: small;
}

.question {
    font-weight: bold;
    font-size: small;
}

.dash-table {
    width:100%;
}

/*--Footer--*/

.footer-div {
    position: relative;
}
