body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.img {
    max-width:100%;
    height: auto;
}

/* Fonts */
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inline-link {
    font-weight: bold;
}

/* Homepage */
.home-heading {
    background-color: rgb(0, 0, 0);
    color: white;
}

.short-line {
    width: 30px;
}

/*-- Volunteer page --*/
.beneficiary-container {
    background-color: rgb(244, 195, 218);
}

.card-text {
    font-family: open-sans, sans-serif !important;
}

.card-text > p {
    font-family: open-sans, sans-serif !important;
}

article > p {
    font-family: open-sans, sans-serif !important;
}

.b-card {
    border: none;
}

/*-- About page --*/
.about-container {
    background-color: rgb(244, 195, 218);
}

.about-title {
    font-size: 40px;
}

.message-form1{
    background-color:black;
    color: white;
}

/* -- Messages -- */
.unpublished-msg {
    color: rgb(199, 23, 23);
    font-style: italic;
}

.message {
    text-align: center;
}

/*-- Buttons --*/
.btn-edit {
    border-width: 1px;
    font-weight:bold;
}

.btn-delete {
    border-width: 1px;
    font-weight:bold;
}

.signup-button {
    font-weight: bold;
    border: solid 1px black;
}

/*-- Inline links --*/
.inline-link {
    text-decoration:none;
    color: black;
}

/*-- Student Dashboard --*/

.dashboard {
    background-color: black;
    color: white;
}

.stats {
    font-size: 18px;
}

.no-tasks-message {
    padding-top: 20px;
}

/*--Footer--*/
footer {
    z-index:0;
}

.footer-div {
    position: relative;
}

