body {
    background-color:rgb(236, 220, 199);
    margin: 0px;
    padding: 0px;
}

.heading-image {
    max-height: 200px;
}


.about-image-container{

}

.about-image {
    width: 300px;
    height: auto;
}

.directions {
    text: red;
}

.heading-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


/*---------------Beneficiary Card------*/

.card-img {

    height: auto;
    object-fit: cover;
    margin: 0;
}



/* Fonts */

.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: bold;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.logged-in-user-msg {
    color: rgb(226, 5, 5);
    font-style: italic;
}

/* --------------------Buttons-------- */

.btn-edit {
    background-color:rgb(248, 109, 10);
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

.btn-delete {
    background-color:rgb(248, 22, 10);
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

#updateButton {
    
}

/* ------------- Inline links ----*/
.inline-link {
    text-decoration:none;
    color: black;
}

/* -----Student Dashboard ---*/
.stats {
    font-size: 32px;
