{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
Beneficiary Details
{% endblock head_title %}

{% block content %}

<!-- Beneficiary detail-->
<section id="beneficiary-information">
    <div class="container beneficiary-detail">
        <div class="row d-flex flex-row align-items-center flex-wrap">
            <div class="col-sm-12 col-md-6">
                <div class="card ml-0" style="max-width: 36rem;">
                    {% if "placeholder" in beneficiary.featured_image.url %}
                        <img src="{% static 'images/default-beneficiary.jpg' %}"
                            class="card-img-top" alt="placeholder image">
                    {% else %}
                        <img src="{{ beneficiary.featured_image.url }}"
                            class="card-img-top" alt="{{ beneficiary.beneficiary_name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ beneficiary.beneficiary_name }}</h5>
                        <p class="card-text">{{ beneficiary.description | safe }}</p>
                        <p class="card-text">{{ beneficiary.location }}</p>
                        <p class="card-text">{{ beneficiary.contact_details }}</p>
                        <p class="card-text">Tasks planned by WCHS students: {{ slots_created_count }}</p>
                        <p class="card-text">Tasks completed by WCHS students: {{ slots_completed_count }}</p>
                    </div>
                </div>
            </div>
            <!-- Reserve slots -->
            <div class="col-sm-12 col-md-6">
                {% if user.is_authenticated %}
                <h3 class="display-4 py-3">Fill in the form to add a task related to {{ beneficiary.beneficiary_name }} to your dashboard.</h3>
                <h4 class="display-6 py-2">You can manage the details and update your tasks on your 
                    <a href="{% url 'student_dashboard' %}" aria-label="link to dashboard">dashboard</a>.</h4>
                <p class="graduate-bold pt-2">Reservation for username: {{ user.username }}</p>
                <form id="slotForm" class="mb-5" method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-secondary btn-lg">Save to Dashboard</button>
                </form>
                {% else %}
                <h3 class="display-2">You must be logged in to save a task to your dashboard.
                    <a href="{{ login_url }}" value="login"
                        aria-label="link to log in" class="btn btn-primary btn-lg">Log In</a>
                </h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--List of published slots (and all reserved by current user) -->
<section id="Planned tasks">
    <div class="container-fluid slots-list">
        <div class="row">
            <div class="col-12 p-2 py-5 text-center">
                <h2 class="display-4">What's been saved to students' dashboards:</h2>
                <h3><small>Tasks are listed publicly at the discretion of school staff (so be polite!)</small></h3>
            </div>
            <div class="row mb-5">
                {% for slot in slots %}
                <div class="col-sm-12 col-md-4 col-lg-3 slot-display
                            {% if not slot.publish_ok and slot.reserved_by == user %}muted
                            {% elif not slot.publish_ok %}d-none
                            {% endif %}">
                    <div class="card">
                        <div class="card-body">
                            <span>Task: </span>
                            <span id="task{{ slot.id }}">{{ slot.task }}</span><br>
                            <span>Location: </span>
                            <span id="task_location{{ slot.id }}">{{ slot.task_location }}</span><br>
                            <span>Dates: </span>
                            <span id="dates{{ slot.id }}">{{ slot.dates }}</span><br>
                            <span>Times: </span>
                            <span id="times{{ slot.id }}">{{ slot.times }}</span><br>
                            <span>Completed: </span>
                            <span id="completed{{ slot.id }}">{{ slot.completed }}</span><br>
                            <span>Credit Minutes Requested: </span>
                            <span id="credit_minutes_requested{{ slot.id }}">
                                {{ slot.credit_minutes_requested }}</span><br>
                            {% if not slot.publish_ok and slot.reserved_by == user %}
                            <span class="unpublished-msg">Task is unpublished but
                                appears on your dashboard!</span><br>
                            {% endif %}
                            {% if user.is_authenticated and slot.reserved_by == user %}
                            <span><button class="btn btn-edit btn-secondary btn-sm" slot_id="{{ slot.id }}">Edit</button> </span>
                            <span> <button class="btn btn-delete btn-danger btn-sm" slot_id="{{ slot.id }}">Delete</button></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- The delete modal -->
<div id="deleteModal" class="modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="True">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="deleteModalLabel" class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action cannot be undone!
                    </br>You can always manage your tasks from your student dashboard.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/slots.js' %}"></script>
{% endblock %}

</body>