{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
Beneficiary Details
{% endblock head_title %}

{% block content %}

<!-- -----------------------Beneficiary detail-->
<div class="container beneficiary-detail">
    <div class="row">
        <div class="col-12 p-2">
            <h2>{{ beneficiary.beneficiary_name }}</h2>
            <p>{{ beneficiary.description | safe }}</p>
            <p>{{ beneficiary.location }} |
                <span class="bold"> {{ beneficiary.contact_details }}</span>
            </p>
            <p>
                <span class="px-2">Tasks planned: {{ slots_created_count }}</span>
                <span class="px-2">Tasks completed: {{ slots_completed_count }}</span>
            </p>
        </div>
    </div>
</div>
<!--List of published slots (and all reserved by current user) -->
<div class="container-fluid slots-list">
    <div class="row">
        <div class="col-12 p-2">
            <h2>Sample tasks for this beneficiary:</h2>
            <p>Note that tasks are listed publicly at the discretion of the site managers.</p>
            <div class="row">
            {% for slot in slots %}
                <div class="col-3 slot-display {% if not slot.publish_ok and slot.reserved_by == user %} faded {% elif not slot.publish_ok %} d-none {% endif %}">
                    <p id="slot{{ slot.id }}" class="slot-task-display">{{ slot.task }}</p>
                    {% if not slot.publish_ok and slot.reserved_by == user %}
                    <p class="logged-in-user-msg"><span class="small">This task has not been published but still
                        appears on your dashboard.</span></p>
                    {% endif %}
                    {% if user.is_authenticated and slot.reserved_by == user %}
                    <button class="btn btn-edit btn-sm" slot_id="{{ slot.id }}">Edit</button>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--------------------------Reserving slots------------>
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto p-2">
            <h2>Add a task related to {{ beneficiary.beneficiary_name }} to your dashboard</h4>
                <h3>Tasks can be managed on your dashboard.</h3>
                <h4>If you plan to volunteer on multiple dates for the same beneficiary,
                    go ahead and add multiple times here.
            </h2>
            {% if user.is_authenticated %}
            <p class="graduate-bold">Reservation for: username {{ user.username }}</p>
            <form id="slotForm" method="post">
                {{ form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-secondary btn-lg">Save to Dashboard</button>
            </form>
            {% else %}
            <p>Log in to save a slot
                <a href="{{ login_url }}" value="login">Log In</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/slots.js' %}"></script>
{% endblock %}

</body>