{% extends "base.html" %}
{% load static %}

{% block head_title %}Be a Dear{% endblock head_title %}

{% block content %}

<!-- Heading section-->
<section class="heading">
  <div class="container-fluid home-heading">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2 mb-5">
        <h1 class="display-4 text-center pt-5">
          Be a Dear is a Student-Led Project
        </h1>
        <h2 class="display-6 pt-3 text-center">
          designed to help us make the most of our mandatory volunteer hours
        </h2>
        <p class="lead pt-3 text-center pt-4">Volunteer in non-traditional and
             more fun, convenient and meaningful ways!
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid g-0">
    <img src="{% static 'images/hearts2.jpg' %}" class="card-img-top" alt="Valentine hearts image">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 py-4 mx-auto text-center">
        <h3 class="display-6">How it Works</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-12 col-md-4 text-center py-3">
        <h4 class="display-6 mb-3">Discover Opportunities</h4>
        <p>On the <a href="{% url 'beneficiaries' %}" aria-label="link to volunteer page">
            Volunteer</a> page you'll find ideas and suggestions</p>
        <p>Click on any of the choices to read more and save tasks</p>
        <p><strong>Note the ones
            labeled "Other" and "Individual"</strong></p>
        <p><strong>&ndash; they are what make this project truly special!</strong></p>
      </div>
      <div class="col-sm-12 col-md-4 text-center py-3">
        <h4 class="display-6 mb-3">Your Personal Dashboard</h4>
        <p><a href="{% url 'account_login' %}" aria-label="link to login page">Sign in
            </a> to save tasks to your dashboard</p>
        <p>From there, plan and update your activities</p>
        <p>Request credit for hours completed</p>
        <p>Track your progress toward meeting the graduation requirement</p>
      </div>
      <div class="col-sm-12 col-md-4 text-center py-3">
        <h4 class="display-6 mb-3">Inspire one another!</h4>
        <p>See what others are signing up for</p>
        <p>Know of a good cause? Someone who could use a hand?</p>
        <p>Send us a <a href="{% url 'send_message' %}" aria-label="link to contact us form">
            message</a> and we'll post your suggestions here</p>
        <p>Read more about the project on the <a href="{% url 'about' %}"
            aria-label="link to the about page" class="inline-link">About</a> page!</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}