{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block head_title %}
Student Dashboard
{% endblock head_title %}

{% block content %}
<!------------------------Student Dashboard Heading Section-->
{% if user.is_authenticated %}
<section id="dashboard-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="">
            </div>
            <div class="col-9 justify-content-center">
                <h1 class="py-2 mx-auto">{{ user.username }}'s Student Dashboard</h1>
                <h2>Manage your volunteer time and see your progress toward reaching the graduation requirement.<h3>
            </div>
        </div>
    </div>
</section>
<!---------------------------Looping over the student's slots-->
<section id="manage-tasks">
    <div class="container">
    {% for slot in slots %}
        {% if slot.completed == False %}
        <div class="row">
            <div class=col-8 col-lg-4 col-xl-3>
                <div class="card text-white bg-primary mb-3 px-1" style="max-width: 18rem;">
                    <div class="card-header">{{ slot.beneficiary.beneficiary_name }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Task: {{ slot.task }}</h5>
                        <p class="card-text">{{ slot.task_location }}</p>
                        <ul class="list-group">
                            <li id="task_date{{slot.id}}">Date: {{ slot.date }}></li>

                            <li id="task_date{{slot.id}}">Date: {{ slot.date }}</li>
                            <li id="task_start_time{{slot.id}}">Start_time:
                                {{ slot.start_time }}</li>
                            <li id="task_end_time{{slot.id}}">End time:
                                {{ slot.task_end_time }}</li>
                            <li id="task_completed{{slot.id}}" class="faded">Completed:
                                {{ slot.completed }}</li>
                            <li id="task_credit_minutes_requested{{slot.id}}" class="faded">Credit
                                minutes requested: {{ slot.credit_minutes_requested }}</li>
                            <li id="task_credit_minutes_approved{{slot.id}}" class="faded">Credit
                                minutes approved: {{ slot.credit_minutes_approved }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% elif slot.completed and not slot.credit_hours_requested %}
        <div class="row">
            <div class=col-8 col-lg-4 col-xl-3>
                <div class="card text-white bg-secondary mb-3 px-1" style="max-width: 18rem;">
                    <div class="card-header">{{ slot.beneficiary.beneficiary_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Task: {{ slot.task }}</h5>
                            <p class="card-text">{{ slot.task_location }}</p>
                            <ul class="list-group">
                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}></li>

                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}</li>
                                <li id="task_start_time{{slot.id}}">Start_time:
                                    {{ slot.start_time }}</li>
                                <li id="task_end_time{{slot.id}}">End time:
                                    {{ slot.task_end_time }}</li>
                                <li id="task_completed{{slot.id}}" class="faded">Completed:
                                    {{ slot.completed }}</li>
                                <li id="task_credit_minutes_requested{{slot.id}}" class="faded">Credit
                                    minutes requested: {{ slot.credit_minutes_requested }}</li>
                                <li id="task_credit_minutes_approved{{slot.id}}" class="faded">Credit
                                    minutes approved: {{ slot.credit_minutes_approved }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif slot.credit_hours_requested and not slot.credit_hours_approved %}
        <div class="row">
            <div class=col-8 col-lg-4 col-xl-3>
                <div class="card text-white bg-secondary mb-3 px-1" style="max-width: 18rem;">
                    <div class="card-header">{{ slot.beneficiary.beneficiary_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Task: {{ slot.task }}</h5>
                            <p class="card-text">{{ slot.task_location }}</p>
                            <ul class="list-group">
                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}></li>

                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}</li>
                                <li id="task_start_time{{slot.id}}">Start_time:
                                    {{ slot.start_time }}</li>
                                <li id="task_end_time{{slot.id}}">End time:
                                    {{ slot.task_end_time }}</li>
                                <li id="task_completed{{slot.id}}" class="faded">Completed:
                                    {{ slot.completed }}</li>
                                <li id="task_credit_minutes_requested{{slot.id}}" class="faded">Credit
                                    minutes requested: {{ slot.credit_minutes_requested }}</li>
                                <li id="task_credit_minutes_approved{{slot.id}}" class="faded">Credit
                                    minutes approved: {{ slot.credit_minutes_approved }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif slot.credit_hours_approved == 0 %}
        <div class="row">
            <div class=col-8 col-lg-4 col-xl-3>
                <div class="card text-white bg-secondary mb-3 px-1" style="max-width: 18rem;">
                    <div class="card-header">{{ slot.beneficiary.beneficiary_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Task: {{ slot.task }}</h5>
                            <p class="card-text">{{ slot.task_location }}</p>
                            <ul class="list-group">
                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}></li>

                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}</li>
                                <li id="task_start_time{{slot.id}}">Start_time:
                                    {{ slot.start_time }}</li>
                                <li id="task_end_time{{slot.id}}">End time:
                                    {{ slot.task_end_time }}</li>
                                <li id="task_completed{{slot.id}}" class="faded">Completed:
                                    {{ slot.completed }}</li>
                                <li id="task_credit_minutes_requested{{slot.id}}" class="faded">Credit
                                    minutes requested: {{ slot.credit_minutes_requested }}</li>
                                <li id="task_credit_minutes_approved{{slot.id}}" class="faded">Credit
                                    minutes approved: {{ slot.credit_minutes_approved }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class=col-8 col-lg-4 col-xl-3>
                <div class="card text-white bg-secondary mb-3 px-1" style="max-width: 18rem;">
                    <div class="card-header">{{ slot.beneficiary.beneficiary_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Task: {{ slot.task }}</h5>
                            <p class="card-text">{{ slot.task_location }}</p>
                            <ul class="list-group">
                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}></li>

                                <li id="task_date{{slot.id}}">Date: {{ slot.date }}</li>
                                <li id="task_start_time{{slot.id}}">Start_time:
                                    {{ slot.start_time }}</li>
                                <li id="task_end_time{{slot.id}}">End time:
                                    {{ slot.task_end_time }}</li>
                                <li id="task_completed{{slot.id}}" class="faded">Completed:
                                    {{ slot.completed }}</li>
                                <li id="task_credit_minutes_requested{{slot.id}}" class="faded">Credit
                                    minutes requested: {{ slot.credit_minutes_requested }}</li>
                                <li id="task_credit_minutes_approved{{slot.id}}" class="faded">Credit
                                    minutes approved: {{ slot.credit_minutes_approved }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</section>
<!-------------------------Bottom portion of student dashboard with stats----->
<section id="cumulative hours">
    <div class="container">
        <div class="row">
            <div class="col-4 p-2 border-box">
                <p>Time approved to date: <span id="calculated-minutes-for-a-student" class="d-none">##</span><span
                        id="calculated-hours">##</span><span> hours</span></p>
            </div>
            <div class="col-4 p-2 border-box">
                <p>Credit needed toward graduation: <span id="required-hours">30 hours</span></p>
            </div>
            <div class="col-4 p-2 border-box">
                <p>Remaining time required: <span id="remaining-time">##</span></p>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock content %}