{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block head_title %}
Student Dashboard
{% endblock head_title %}

{% block content %}
<!------------------------Student Dashboard Heading Section-->
{% if user.is_authenticated %}
<section id="dashboard-heading">
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-3">
                {% if user.profile.profile_pic %}
                <img src="{{ user.profile.profile_pic.url }}" class="img-fluid max-width=450px" alt="User profile picture">
            </div>
            <div class="col-6 justify-content-center">
                <h1 class="py-2 mx-auto cabin-sketch-bold">{{ user.username }}'s Student Dashboard</h1>
                <h2 class="mx-auto"><small>Manage your volunteer time and see your progress toward reaching the graduation requirement.</small><h2>
            </div>
        </div>
    </div>
</section>
<!---------------------------Looping over the student's slots-->
<section id="manage-tasks">
    <div class="container">
        <div class="row">
            {% if slots %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Beneficiary</th>
                        <th scope="col">Task</th>
                        <th scope="col">Task Location</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Minutes Requested</th>
                        <th scope="col">Minutes Approved</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <!-- List of slots reserved by the current user -->
                <tbody>
                {% for slot in slots %}
                    <tr class="{% if not slot.completed %}table-primary
                            {% elif slot.completed and not slot.credit_minutes_requested %}table-info
                            {% elif slot.credit_minutes_requested and not slot.credit_minutes_approved %}table-warning
                            {% elif slot.credit_minutes_approved %}table-success{% else %}table-danger{% endif %}">
                        <td>{{ slot.beneficiary.beneficiary_name}}</td>
                        <td>{{ slot.task }}</td>
                        <td>{{ slot.task_location }}</td>
                        <td>{{ slot.dates }}</td>
                        <td>{{ slot.times }}</td>
                        <td>{{ slot.completed }}</td>
                        <td>{{ slot.credit_minutes_requested }}</td>
                        <td class="credit_minutes_approved">{{ slot.credit_minutes_approved }}</td>
                        <td><a href="{% url 'update_slot' slot.id %}">Update</a></td>
                        <td><a href="{% url 'delete_via_dashboard' slot.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h4>You currently have no tasks planned.</h4>
                <h3>You can add tasks by clicking on one of the organizations (or "Other" or "Individual") listed on the <a href ="{% url 'home' %}" class="inline-link">homepage</a></h3>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="container mx-auto">
    <h1>You must be logged in to access this page.</h1>
</div>
{% endif %}
<!-------------------------Student's stats----->
<section id="cumulative hours">
    <div class="container mb-5">
        <div class="row mb-2 stats cabin-sketch-bold stats">
            <div class="col-4 p-2 border-box">
                <p>Time approved to date: 
                    <span id="calculated-minutes">0</span>
                    <span> minutes, or </span>
                    <span id="calculated-hours">0</span>
                    <span>hours</span>
                </p>
            </div>
            <div class="col-4 p-2 border-box">
                <p>Hours needed for graduation: <span id="required-hours">30</span></p>
            </div>
            <div class="col-4 p-2 border-box">
                <p>Remaining time required: <span id="remaining-hours"></span> hours, <span id="plus-remaining-minutes"></span> minutes</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
