{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}About Be a Dear{% endblock head_title %}

{% block content %}
<h1 class="card-title about-header d-none">About the Be a Dear Project</h1>
<div class="container-fluid about-container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 mb-5">
            <div class="card mb-3">
                {% if "placeholder" in about.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default-about.jpg' %}" alt="placeholder image">
                {% else %}
                    <img class="card-img-top" src="{{ about.featured_image.url }}" alt="Featured image for the Be A Dear project">
                {% endif %}
                <div class="card-body">
                    
                <h5 class="card-title py-3 display-4 text-center">{{ about.title }}</h5>
                <article class="card-text">
                    {{ about.content | safe }}
                    <p class="card-text"><small class="text-muted">Updated on: {{ about.updated_on}}</small></p>
                </article>
                
                </div>
            </div>
        </div>
        <div class="message-form1 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-3 mb-5">
            <h2>Send us a message!</h2>
            <form method="POST">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-primary mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
