{% extends "base.html" %}
{% load static %}

    {% block content %}

    <h1>About the Project</h1>
    <div class="about-image-container">
        {% if "hearts" in about.featured_image.url %}
        <img class="scale" src="{% static 'images/hearts.jpg' %}" alt="placeholder image for the About page">
        {% else %}
        <img class="scale" src="{{ about.featured_image.url }}" alt="{{ about.title }}">
        {% endif %}
    </div>
    <h2>{{ about.title }}</h2>
    <p>{{ about.content | safe }}</p>
    <p>{{ about.updated_on}}</p>

    {% endblock content %}
