{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Contact Us{% endblock head_title %}

{% block content %}

<section id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1>Contact us:</h1>
                <form class="mb-5" method="post">
                    {{ collaborate_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg">
                        Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}