body {
    margin: 0px;
    padding: 0px;
}

main {
    z-index:1;
}

/* Fonts */
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-heading {
    background-color: rgb(0, 0, 0);
    color: white;
}

.beneficiary-container {
    background-color: rgb(244, 195, 218);
}

.short-line {
    width: 30px;
}

.card-text {
    font-family: open-sans, sans-serif;
}
/*-- Beneficiary Card --*/
.b-card {
    border: none;
}

/*-- About page --*/
.about-container {
    background-color: rgb(244, 195, 218);
}

.about-title {
    font-size: 40px;
}

.message-form1{
    background-color:black;
    color: white;
}
/* -- Messages -- */

.unpublished-msg {
    color: rgb(199, 23, 23);
    font-style: italic;
}

.message {
    color:rgb(199, 23, 23);
}

/*-- Buttons --*/

.btn-edit {
    border-width: 1px;
    font-weight:bold;
}

.btn-delete {
    border-width: 1px;
    font-weight:bold;
}

.signup-button {
    font-weight: bold;
    border: solid 1px black;
}

/*-- Inline links --*/
.inline-link {
    text-decoration:none;
    color: black;
}

/*-- Student Dashboard --*/

.dashboard {
    background-color: black;
    color: white;
}

.stats {
    font-size: 18px;
}

.no-tasks-message {
    padding-top: 20px;
}

/*--Footer--*/
footer {
    z-index:0;
}