body {
    background-color:#000000;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}


.heading-image {
    max-height: 200px;
}

.directions {
    text: red;
}

.heading-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


/*-- About page --*/
.about-containter{
    background-image: url("/static/images/neon-heart");
}

.about-title {
    font-size: 40px;

}

.about-img-div{
    index:1;
}



/*---------------Beneficiary Card------*/

.card-img {
    height: auto;
    object-fit: cover;
    margin: 0;
}



/* Fonts */

.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: bold;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.logged-in-user-msg {
    color: rgb(226, 5, 5);
    font-style: italic;
}

/* -- Message -- */
.message {
    color: rgb(246, 15, 15);
}
/* --------------------Buttons-------- */

.btn-edit {
    background-color:rgb(248, 109, 10);
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

.btn-delete {
    background-color:rgb(248, 22, 10);
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

#updateButton {
    
}

.signup-button {
    font-weight: bold;
    border-style: solid 1px black;
}

/* ------------- Inline links ----*/
.inline-link {
    text-decoration:none;
    color: black;
}

/* -----Student Dashboard ---*/
.stats {
    font-size: 32px;
