body {
    margin: 0px;
    padding: 0px;
}

.heading {
    color: whitesmoke;
}

.header-image {
    width: cover;
    max-height: 200px;
}


/*-- About page --*/
.about-containter{
    background-image: url("/static/images/neon-heart");
}

.about-title {
    font-size: 40px;

}

.about-img-div {
    index:1;
}


.beneficiary-container {
    background-color: rgb(244, 195, 218);
}


/*-- Beneficiary Card --*/
.b-card {
    border: none;
}

/* Fonts */
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.graduate-bold {
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: bold;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.open-sans-heavy {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



/* -- Messages -- */
.unpublished-msg {
    color: rgb(246, 15, 15);
    font-style: italic;
}

.message {
    color: rgb(246, 15, 15);
}
/* --------------------Buttons-------- */

.btn-edit {
    background-color:black;
    color:antiquewhite
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

.btn-delete {
    background-color:rgb(248, 22, 10);
    border-width: 1px;
    font:rgba(32, 16, 1, 0.779);
    font-weight:bold;
}

.signup-button {
    font-weight: bold;
    border-style: solid 1px black;
}

/*-- Inline links --*/
.inline-link {
    text-decoration:none;
    color: black;
}

/*-- Student Dashboard --*/
.stats {
    font-size: 18px;
}

footer {
    background-color: black;
    height:fit-content
    z-index: 2;
}